@model RoleViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4">Delete User</h1>



<form  asp-action="Delete" >

    <partial name="RolePartialView/_DetailsDeletePartialView" />


    <input type="submit" value="Delete" class="btn btn-danger" />
    <a  asp-action="Index" class="btn btn-light">Back to List</a>
</form>
