@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
}


<h1 class="mb-4">Edit</h1>



<form asp-action="Edit">

    <partial name="DepartmentPartialViews/_CreateEditPartialView" />

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back to List</a>
</form>


@section ValidationScriptSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}