@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<input class="text email" asp-for="NewPassword" placeholder="New Password" required="">
			<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="" >
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>


@section ValidationScriptSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


