@model UserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="mb-4">Edit User</h1>



<form  asp-action="Edit" >

    <partial name="UserPartialView/_EditPartialView" />


    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</form>
@section ValidationScriptSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}