@model EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-4">Create Employee</h1>



<form asp-controller="Employee" asp-action="Create" enctype="multipart/form-data">

    <partial name="EmployeePartialView/_CreateEditPartialView" />

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back to List</a>
</form>
@section ValidationScriptSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
